<select class="ui selection dropdown">
  <option class="item" data-value="1">
    รายงานสรุปกระบวนวิชาที่เป็นประโยชน์ต่อการทำงาน
  </option>
  <option class="item" data-value="2">
        รายงานสรุปกระบวนวิชาที่เป็นประโยชน์ต่อการศึกษาต่อ
      </option>
      <option class="item" data-value="3">
        รายงานสรุปกระบวนวิชาที่เป็นประโยชน์ต่อชีวิตประจำวัน
      </option>
      <option class="item" data-value="4">
        รายงานสรุปสถิติการได้งาน
      </option>
      <option class="item" data-value="5">
        รายงานสรุปสถิติบัณฑิตที่ได้งานทำตรงสาย
      </option>
      <option class="item" data-value="6">
        รายงานสรุปสถิติบัณฑิตที่ได้งานทำไม่ตรงสาย
      </option>
      <option class="item" data-value="7">
        รายงานสรุปสถิติบัณฑิตที่ศึกษาต่อ
      </option>
      <option class="item" data-value="8">
        รายงานสรุปสถิติบัณฑิตที่ประกอบอาชีพอิสระ
      </option>
      <option class="item" data-value="9">
        รายงานสรุปสถานที่ทำงาน มหาลัยวิทยาลัยและสาขาที่ศึกษาต่อ หรือชื่อและประเภทธุรกิจ
      </option>
      <option class="item" data-value="10">
        รายงานสรุปสถิติบัณฑิตที่กาลังหางานทำ
      </option>
      <option class="item" data-value="11">
        รายงานสรุปสถิติบัณฑิตที่กาลังเตรียมตัวศึกษาต่อ
      </option>
      <option class="item" data-value="12">
        รายงานสรุปความพึงพอใจของบัณฑิตต่อหลักสูตรวิทยาศาสตรบัณฑิต
      </option>
      <option class="item" data-value="13">
        รายงานสรุปผลความพึงพอใจของนายจ้างหรือผู้บังคับบัญชาต่อบัณฑิต
      </option>
      <option class="item" data-value="14">
        รายงานสรุปคุณลักษณะที่พึงประสงค์ของบัณฑิต
      </option>
</select>