<div class="ui grid">
  <div class="twenty wide column">
    <div class="ui vertical fluid tabular menu">
      <a class="item" [routerLink]="'/manage-graduates'" routerLinkActive="active">
        จัดการข้อมูลบัณฑิต
      </a>
      <a class="item" [routerLink]="'/manage-company'" routerLinkActive="active">
        จัดการข้อมูลผู้ประกอบการ
      </a>
      <a class="item" [routerLink]="'/manage-admin'" routerLinkActive="active">
        จัดการข้อมูลผู้ดูแลระบบ
      </a>
    </div>
  </div>
</div>
